<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script src="skrypt.js"></script>
</head>

<body ng-app="app">
    <div ng-controller="mojCtrl" class="container is-widescreen">

		<div class="columns">

			<form class="column is-6 is-offset-3">
			<h1 class="title">Podaj dane polisy</h1>
	        <div class="field is-small">
	            <label class="label">Numer polisy</label>
	            <div class="control">
	                <input class="input" type="text" placeholder="Numer polisy" ng-model="model.numerPolisy">
	            </div>
	        </div>
	
			<div class="field is-small">
	            <label class="label">Data podpisania</label>
	            <div class="control">
	                <input class="input" type="date" placeholder="Data podpisania" ng-model="model.signDate">
	            </div>
	        </div>

	        <div class="field is-small">
	            <label class="label">Ubezpieczajacy</label>
	            <div class="control">
	                <input class="input" type="text" placeholder="Ubezpieczajacy" ng-model="model.ubezpieczajacy">
	            </div>
	        </div>
	
	        <div class="field is-small">
	            <label class="label">Składka</label>
	            <div class="control">
	                <input class="input" type="number" placeholder="Składka" ng-model="model.skladka">
	            </div>
			</div>
			
			<div class="field is-small">
	            <label class="label">Status</label>
				<div class="select is-fullwidth">
					<select name="status" 
							ng-model="model.statusPolisy" 
							ng-options="option as option for option in statusy">
					</select>
				</div>
	        </div>
	 
	 		</form>   
	    </div>


        <div class="field is-grouped is-grouped-centered">
		  <div class="control">
		    <button class="button is-link" ng-click="zapiszPolise()">Zapisz</button>
		  </div>
		  <div class="control">
		    <button class="button is-text">Cancel</button>
		  </div>
		</div>

    </div>
</body>
</html>