<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="skrypt.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app = "app">
    <div ng-controller="mojCtrl">

            <div class="field">
                    <label class="label">Numer polisy</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Numer polisy" ng-model="model.numerPolisy">
                    </div>
                    <p class="help">This is a help text</p>
            </div>

            <div class="field">
                    <label class="label">Ubezpieczajcy</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Ubezpieczajacy" ng-model="model.ubezpieczajacy">
                    </div>
                    <p class="help">This is a help text</p>
            </div>

            <div class="field">
                    <label class="label">Skladka</label>
                    <div class="control">
                      <input class="input" type="text" placeholder="Skladka" ng-model="model.skladka">
                    </div>
                    <p class="help">This is a help text</p>
            </div>

        <div class="control">
            <!--input type = "text" ng-model="mojTekst">
        </div>
        <p><h1>{{mojTekst}}</h1></p-->
        <p>
            <button ng-click="test()">kliknij mnie</button>
        </p>
    </div>
</body>
</html>